@charset "UTF-8";
/*==========================================================================
	サイトTOPページ
==========================================================================*/
/*--------------------------------------------------------------------------
  overwrite スタイルの上書き
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	section_name
--------------------------------------------------------------------------*/
body {
  font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.4rem;
  color: #333;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
