// @_import
@import "../_import";

/*==========================================================================
	サイトTOPページ
==========================================================================*/

/*--------------------------------------------------------------------------
  overwrite スタイルの上書き
--------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------
	section_name
--------------------------------------------------------------------------*/

body{
	font-family: $FontFamily;
	font-size: $FontSize;
	color: $FontColor;
	line-height: 1.8;
	text-size-adjust: 100%;
}

