/*==========================================================================
	global
==========================================================================*/

/*--------------------------------------------------------------------------
	html
---------------------------------------------------------------------------*/
html{
	overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1;
}


/*--------------------------------------------------------------------------
	body
---------------------------------------------------------------------------*/
body{
	font-family: $FontYugo;
	font-size: 1.4rem;
	color: #333;
	line-height: 1.8;
	text-size-adjust: 100%;
}


/*----------------------------------------------------------------------
	a
----------------------------------------------------------------------*/
a{
	color: #11c;
	outline: none;

	&:link,
	&:visited{ color: #11c;}
	&:hover  { color: #11c;}
	// &:focus,
	// &:active { color: #f90;}
}


/*--------------------------------------------------------------------------
	#Header ヘッダー
--------------------------------------------------------------------------*/
#Header{
}


/*--------------------------------------------------------------------------
	#Main メイン
--------------------------------------------------------------------------*/
#Main{
}


/*--------------------------------------------------------------------------
	#Footer フッター
--------------------------------------------------------------------------*/
#Footer{
}
